.navbar-contenedor {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: top 0.3s ease, background-color 0.3s ease;
}

.navbar {
  max-width: 1366px;
  margin: 0 auto;
}

.navbar-ul-contenedor ul {
  gap: 30px;
}

.a-logo img {
  width: 150px;
  object-fit: cover;
}

.btn-registrate {
  border-radius: 10px;
  transition: 0.3s;
}

.btn-registrate:hover {
  background-color: #eb6424;
}
